/** @format */

/* BASE COLOR SYSTEM */

body .accent-primary-color {
            color: #1976d2;
        }

body .accent-primary-background {
            background-color: #1976d2;
        }

body .accent-primary-light-color {
            color: #63a4ff;
        }

body .accent-primary-light-background {
            background-color: #63a4ff;
        }

body .accent-primary-dark-color {
            color: #004ba0;
        }

body .accent-primary-dark-background {
            background-color: #004ba0;
        }

body .accent-primary-lightest-color {
            color: #eaf4ff;
        }

body .accent-primary-lightest-background {
            background-color: #eaf4ff;
        }

body .accent-secondary-color {
            color: #00796b;
        }

body .accent-secondary-background {
            background-color: #00796b;
        }

body .accent-secondary-light-color {
            color: #48a999;
        }

body .accent-secondary-light-background {
            background-color: #48a999;
        }

body .accent-secondary-dark-color {
            color: #004c40;
        }

body .accent-secondary-dark-background {
            background-color: #004c40;
        }

body .accent-secondary-lightest-color {
            color: #b2dfdb;
        }

body .accent-secondary-lightest-background {
            background-color: #b2dfdb;
        }

body .black-color {
            color: #000000;
        }

body .black-background {
            background-color: #000000;
        }

body .grey-dark-color {
            color: #494949;
        }

body .grey-dark-background {
            background-color: #494949;
        }

body .grey-color {
            color: #9e9e9e;
        }

body .grey-background {
            background-color: #9e9e9e;
        }

body .grey-light-color {
            color: #e0e0e0;
        }

body .grey-light-background {
            background-color: #e0e0e0;
        }

/* 'blue-grey' in spec */

body .grey-lighter-color {
            color: #eceff1;
        }

body .grey-lighter-background {
            background-color: #eceff1;
        }

/* 'snow' in spec */

body .grey-lightest-color {
            color: #f4f6f8;
        }

body .grey-lightest-background {
            background-color: #f4f6f8;
        }

/* undefined in spec */

body .white-color {
            color: #ffffff;
        }

body .white-background {
            background-color: #ffffff;
        }

/* 'negative' in spec */

body .error-color {
            color: #e53935;
        }

body .error-background {
            background-color: #e53935;
        }

body .warning-color {
            color: #e59635;
        }

body .warning-background {
            background-color: #e59635;
        }

body .positive-color {
            color: #3d9305;
        }

body .positive-background {
            background-color: #3d9305;
        }

body .info-color {
            color: #eaf4ff;
        }

body .info-background {
            background-color: #eaf4ff;
        }

body a {
        color: #004ba0;
    }

body a:link {
            color: #004ba0;
        }

body a:visited {
            color: #1976d2;
        }

body a:focus,
        body a:active {
            background-color: #eceff1;
        }
